In [2]:
# 1
#the for loop is used when we already know the number of iteration.while loop is used when we need to end the loop on a condition.
l=[1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

In [3]:
a=1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [6]:
#2
s=0
p=1
for i in range(1,11):
    s=s+i
    p=p*i
print("sum is :",s)
print("product is:",p)

sum is : 55
product is: 3628800

In [ ]:
i=1
s=0
p=1
while i<=10:
    s=s+i
    p=p*i
print("sum is :",s)
print("product is:",p)

In [2]:
l=list(range(1,101))
l1=[]
for i in l:
    c=i**3
    if c%4==0 or c%5==0:
        l1.append(c)
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

enter the number 100

In [2]:
string='i want to become a data scientist'
count=0
i=0
for i in range(len(string)):
    if ((string[i]=='a') or (string[i]== 'e') or (string[i]=='i') or (string[i]== 'o') or (string[i]== 'u')):
        count=count+1
print("vowel in the given string is:",count)

vowel in the given string is: 12

In [6]:
l=[i for i in range(100)]
l1=[]
c=[i**3 for i in l ]
for i in c:
      if c%3==0 or c%4==0:
        l1.append()
l1

SyntaxError: invalid syntax (430903588.py, line 3)